<head>
  <link href="../src/css/header.css" rel="stylesheet" type="text/css" />
  <script src="../js/header.js"></script>
</head>

<header class="header">
  <a href="../public/index.html">
    <img class="header-logo" src="../../public/img/logo.png" />
  </a>

  <nav class="navLinks">
    <a href="../../public/index.html">Start</a>
    <a href="../../public/rezept-kieran.html">Rezept des Tages</a>
    <a href="../../public/kontakt.html">Kontakt</a>
    <a href="../../public/impressum.html">Impressum</a>
  </nav>

  <button class="hamburger-menu-button">&#9776;</button>
</header>
