<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="../css/header.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header class="header">
      <a href="../../public/index.html">
        <img class="header-logo" src="../../public/img/logo.png" alt="Logo" />
      </a>
      <nav id="myLinks" class="navLinks">
        <a href="../../public/index.html">Start</a>
        <a href="../../public/rezept-kieran.html">Rezept des Tages</a>
        <a href="../../public/kontakt.html">Kontakt</a>
        <a href="../../public/impressum.html">Impressum</a>
      </nav>
    </header>
  </body>
</html>
