@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("woff2");
}

body {
  font-family: "Raleway";
  margin: 0;
}

p {
  margin: 0;
}

button {
  padding: 8px 32px;
  background-color: #008001;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.top-section {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-right: 112px;
  padding-left: 112px;
  padding-bottom: 12px;
  padding-top: 20px;
}

.top-section h1 {
  font-size: 32px;
  font-weight: 500;
}

.top-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.data-section {
  display: flex;
  flex-direction: column;
  padding-right: 112px;
  padding-left: 112px;
  padding-bottom: 20px;
}

.data-container {
  display: flex;
  flex-direction: row;
}

.data-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 56px;
  margin-top: 16px;
  padding: 5px 9px;
  background-color: #efefef;
  border-radius: 6px;
  font-weight: 200;
}

.data-field img {
  width: 12px;
  height: 12px;
  padding-right: 10px;
}

.separator {
  height: 1px;
  padding-left: 112px;
  padding-right: 112px;
  background-color: #efefef;
  margin-bottom: 8px;
}

.recipe-section {
  height: 100%;
  padding-bottom: 32px;
  padding-right: 112px;
  padding-left: 112px;
}

.portion-container {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
}

table {
  font-weight: 200;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border-radius: 6px;
  padding: 12px;
  padding-left: 32px;
}

table tbody {
  background-color: #efefef;
}

table tbody:nth-child(even) {
  background-color: #ffffff;
}

.p-r-16 {
  padding-right: 16px;
}

.input {
  height: 32px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #efefef;
}

.p-button {
  height: 36px;
}

.instructions-section {
  padding-top: 32px;
  padding-left: 112px;
  padding-right: 112px;
}

.instructions-section h2 {
  font-size: 16px;
}

.instruction-container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  margin-bottom: 10px;
}

.instruction-container p {
  padding-top: 12px;
}

.creator-section {
  padding-top: 32px;
  padding-left: 112px;
  padding-right: 112px;
  padding-bottom: 32px;
}

.creator-section h3 {
  font-weight: 500;
}

.creator-container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  margin-top: 32px;
}

.icon-profil {
  margin-right: 32px;
  border-radius: 50%;
  height: 75px;
}

#name {
  font-size: 26px;
  font-weight: 150;
}

.d-none {
  display: none;
}

.recipe-info {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 997;
}

@media (max-width: 600px) {
  .top-section {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .data-section {
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .data-container {
    flex-direction: column;
  }
  .data-field {
    margin: 10px;
  }

  .recipe-section {
    padding-left: 50px;
    padding-right: 50px;
  }

  .instructions-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .instruction-container {
    flex-direction: column;
  }

  .creator-section {
    padding-left: 50px;
    padding-right: 50px;
  }

  .portion-container {
    flex-direction: column;
  }

  .p-r-16 {
    padding: 0;
    margin-bottom: 10px;
  }

  .input {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .p-button {
    border-radius: 8px;
  }
}

@media (max-width: 470px) {
  .recipe-info {
    top: 35%;
  }
}
