@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf") format("woff2");
    font-weight: 400;
  }

.kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 108px 50px;
}

.kontakt textarea,
.kontakt input {    
    font-family: "Raleway";
    padding: 10px;
    resize: none;
    border-radius: 5px;
    border: unset;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .d-none {
    display: none;
  }

  .contact-info {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #deffde;
    color: #00d86c;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 997;
  }