@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf") format("woff2");
    font-weight: 400;
  }

body {
    font-family: 'Raleway';
    margin: 0;
}

header {
    background-color: white;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0px 2px 10px #EDEDED;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #403B3B;
    height: 180px;
    padding: 10px 230px;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

footer a:hover {
    color: aqua;
}

h2 {
    margin: 0;
    font-weight: 500;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

button {
    padding: 8px 32px;
    background-color: #008001;
    color: white;
    border: none;
    cursor: pointer;
}

.header-logo {
    width: 250px;
    padding-left: 112px;
    padding-bottom: 8px;
    padding-top: 16px;

}

.navLinks {
    padding-right: 122px;
    padding-bottom: 8px;
}

.navLinks a {
    padding-left: 16px;
    text-decoration: none;
    color: #615346;
}

.navLinks a:hover {
    color: #008001;
    text-decoration: underline;
}

.navLinks a:active {
    color: #008001;
}

.top-section {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-right: 112px;
    padding-left: 112px;
    padding-bottom: 12px;
    padding-top: 20px;
}

.top-section h1 {
    font-size: 32px;
    font-weight: 500;
}

.top-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.data-section {
    display: flex;
    flex-direction: column;
    padding-right: 112px;
    padding-left: 112px;
    padding-bottom: 20px;

}

.data-container {
    display: flex;
    flex-direction: row;
}

.data-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 56px;
    margin-top: 16px;
    padding: 5px 9px;
    background-color: #EFEFEF;
    border-radius: 6px;
    font-weight: 200;
}

.data-field img{
    width: 12px;
    height: 12px;
    padding-right: 10px;
}

.separator {
    height: 1px;
    padding-left: 112px;
    padding-right: 112px;
    background-color: #EFEFEF;
    margin-bottom: 8px;
}

.recipe-section {
    height: 100%;
    padding-bottom: 32px;
    padding-right: 112px;
    padding-left: 112px;
}

.portion-container {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 8px;
}

table {
    font-weight: 200;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border-radius: 6px;
    padding: 12px;
    padding-left: 32px;
}

table tbody {
    background-color: #EFEFEF;
}

table tbody:nth-child(even) {
    background-color: #ffffff;
}

.p-r-16 {
    padding-right: 16px;
}

.input {
    height: 32px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #EFEFEF;
}

.p-button {
    height: 36px;
}

.instructions-section {
    padding-top: 32px;
    padding-left: 112px;
    padding-right: 112px;
}

.instructions-section h2 {
    font-size: 16px;
}

.instruction-container {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.instruction-container p {
    padding-top: 12px;
}

.creator-section {
    padding-top: 32px;
    padding-left: 112px;
    padding-right: 112px;
    padding-bottom: 32px;
}

.creator-section h3 {
    font-weight: 500;
}

.creator-container {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin-top: 32px;
}

.icon-profil {
    margin-right: 32px;
    border-radius: 50%;
    height: 75px;
}

#name {
    font-size: 26px;
    font-weight: 150;
}