@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway-Regular.ttf") format("woff2");
}

* {
  text-align: center;
  margin: 0;
}

.impressum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Raleway";
  font-size: 20px;
  margin-top: 30px;
}

.logomakr {
  margin: 20px;
}

.datenschutz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Raleway";
  font-size: 20px;
  margin-bottom: 30px;
}

.datenschutz li {
  text-align: left;
}

.datenschutz h2,
.datenschutz h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.max-width {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 6px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 750px) {
  * {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  * {
    font-size: 16px;
  }
}
