@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway-Regular.ttf") format("woff2");
}

* {
  text-align: center;
  margin: 0;
}

.impressum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Raleway";
  font-size: 20px;
  margin-top: 30px;
}

.logomakr {
  margin: 20px;
}

.datenschutz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Raleway";
  font-size: 20px;
  margin-bottom: 30px;
}

.datenschutz li {
  text-align: left;
}

.datenschutz h2,
.datenschutz h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  * {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  * {
    font-size: 16px;
  }
}
